$normalFont: 'Rubik', sans-serif;

.contact-container {
    width: 100%;
    position: relative;
    text-align: center;
    font-family: $normalFont;
    font-size: 55px;
}

.main-container {
    text-align: center;
    padding: 25vh 0 0 10vh;
    width: 90%;

    span {
        font-style: italic;
        font-weight: 400;
        color: red;
    }
}

.button-container {
    display: flex;
    width: 65%;
    margin: 20vh auto 0;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 20px;
    padding: 5px;

    button {
        display: flex;
        margin: 0 15vh;
        padding: 10px;
        border: black;
        border-radius: 20px;

        a {
        padding-right: 10px;
        }

        &:hover {
            background-color: inherit;
            color: rgb(62, 62, 62);
            cursor: pointer;
        }
    }
}

.footer {
    background-color: #e8e6e6;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;

    p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .contact-container {
        margin-top: -15vh;
        z-index: -1;

        .main-container {
            width: 70%;
        }

        .button-container {
            display: block;
            margin-top: 1vh;
            border: none;

            button {
                margin-top: 2vh;
            }
        }
    }

    .footer {

        p {
            margin-left: 100px;
        }
    }
}

@media only screen and (min-width: 2560px) {
    .contact-container {
        margin-top: 10vh;
    }
}