@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$redColor: #dc2f2f;
$darkGreyColor: #222831;
$greenColor: #344e41;
$bigFont: 'Nunito Sans', sans-serif;
$normalFont: 'Rubik', sans-serif;
$largeFontSize: 100px;


.home-page {
    width: 100%;
    height: 100%;
}

.img-container {
    width: 30%;

    img {
        width: 45vh;
        border-radius: 50%;
    }
    .blob {
        background-size: cover;
        background-position: center center;
        margin: 20px;
        box-shadow: 0 5px 5px rgba(5, 94, 39, 0.9);
        animation: animate 5s ease-in-out infinite;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; 
    
        @keyframes animate {
            0%, 100% {
                border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            }
            50% {
                border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
            }
        }
    }
}

.txt-container {
    width: 60%;
    display: block;
    margin-top: 10vh;

    h2, h3 {
        font-family: $bigFont;
        font-size: 50px;
    }

    span {
        color: red;
        font-size: 55px;
    }

}

.Typewriter {
    .Typewriter__cursor {
        color: rgb(134, 134, 134);
    }
}


.flex-left {
    display: flex;
    margin: 15vh 20vh;
    gap: 5%;
}

.btn-links {
    display: flex;
    width: 30%;
    margin-top: -6vh;
    margin-left: 80vh;

    button {
        margin: 0 10vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 20px;

        &:hover {
            background-color: rgb(58, 57, 57);
            color: white;
            cursor: pointer;
        }
    }

}



@media only screen and (max-width: 600px) { 

    .home-page {
        display: block;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-right: 20px;
    }

    .flex-left {
        width: 100%;
        display: block;
        margin-left: 30px;

        .txt-container {
            display: block;
            width: 100%;
        }
    }
    
    .btn-links {
        display: block;
        margin-top: -10vh;
        margin-left: 5vh;

        button {
            margin-top: 2vh;
        }
    }
}

@media only screen and (min-width: 2560px) {

    .flex-left {
        margin: 20vh 20vh;
    }
    .txt-container {

        h2, h3 {
            font-size: 80px;
        }
        
        span {
            font-size: 90px;
        }
    }

    .btn-links {
        margin-top: -15vh;
        margin-left: 40%;
    }
}

// @media only screen and (min-width: 600px) and (max-width: 2500px) {
//     .home-page {
//         display: block;
//         width: 100%;
//         height: auto;
//     }

//     .img-container {
//         img {
//             margin-left: -15vh;
//             width: 25vh;
//         }
//     }

//     .txt-container {
//         margin-top: 0vh;
//         margin-left: 20vh;
//     }

//     .btn-links {
//         margin-left: 0;
//     }
// }