@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$redColor: #dc2f2f;
$darkGreyColor: #222831;
$greenColor: #344e41;
$bigFont: 'Nunito Sans', sans-serif;
$normalFont: 'Rubik', sans-serif;
$largeFontSize: 100px;


.home-page {
    width: 100%;
    height: 100%;
}

.img-container {
    width: 30%;

    img {
        width: 45vh;
        border: 10px solid $greenColor;
        border-radius: 50%;
    }
}

.txt-container {
    width: 60%;
    display: block;
    margin-top: 10vh;

    h2, h3 {
        font-family: $bigFont;
        font-size: 50px;
    }

    span {
        color: red;
        font-size: 55px;
    }
    
}

.flex-left {
    display: flex;
    margin: 15vh 20vh;
    gap: 5%;
}

.btn-links {
    display: flex;
    width: 30%;
    margin-top: -6vh;
    margin-left: 80vh;

    button {
        margin: 0 10vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 20px;

        &:hover {
            background-color: rgb(58, 57, 57);
            color: white;
            cursor: pointer;
        }
    }

}



@media only screen and (max-width: 600px) { 

    .home-page {
        display: block;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-right: 20px;
    }

    .flex-left {
        width: 100%;
        display: block;
        margin-left: 30px;

        .txt-container {
            display: block;
            width: 100%;
        }
    }
    
    .btn-links {
        display: block;
        margin-top: -10vh;
        margin-left: 5vh;

        button {
            margin-top: 2vh;
        }
    }
}

@media only screen and (min-width: 2560px) {

    .flex-left {
        margin: 20vh 20vh;
    }
    .txt-container {

        h2, h3 {
            font-size: 80px;
        }
        
        span {
            font-size: 90px;
        }
    }

    .btn-links {
        margin-top: -15vh;
        margin-left: 40%;
    }
}

