$redColor: #dc2f2f;
$greenColor: #344e41;
$darkGreyColor: #21262e;
$normalFont: 'Rubik', sans-serif;

@mixin flexEnd {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    align-self: center;
}

.navbar {
    @include flexEnd();
    position: relative;
}

.links {
    display: flex;
    gap: 20px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}

.item {
    color: $darkGreyColor;
    font-family: $normalFont;
    margin-left: 10px;
    font-size: 30px;
    text-decoration: none;

    &:hover {
        color: rgb(155, 152, 152);
    }

    &:active,
    &.active-link {
        text-decoration: underline;
        color: $redColor;
        font-weight: bold;
    }

    &:visited {
        color: $normalFont;
    }
}

.toggleButton {
    display: none;

    @media only screen and (max-width: 600px) {
        position: absolute;
        display: block;
        align-items: center;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 30px;
        }
}

@media only screen and (max-width: 600px) {
    .navbar {
        .links {
            display: none;
        }
    }
}

#open {
    .navbar {
        position: fixed;
        width: 100%;
    }
    .links {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: $darkGreyColor;
        z-index: 1000;
    }
    .item {
        color: whitesmoke;

        &:active,
        &.active-link {
            color: $redColor;
        }
    }
}


@media only screen and (min-width: 2560px) {
    .links {

        .item {
            font-size: 34px;
        }
    }
}
