$normalFont: 'Rubik', sans-serif;
$headerSize: 35px;

.project-container {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    font-family: $normalFont;
}

.header {
    display: flex;
    justify-content: center;
    margin: 2px 0 5px 0;
}

h2 {
    font-size: 26px;
    font-weight: 500;
}

.project {
    display: flex;
    padding: 50px;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    flex: 1;
    img {
        width: auto;
        height: 750px;
    }
}

.project-content {
    margin: 100px 70px;
    width: 50%;

    h3 {
        font-size: $headerSize;
    }

    p {
        padding: 20px 0;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.6;
    }
}

.tech-stack {
    margin: 60px;
}

.tech {
    display: flex;
    
    h4 {
        font-weight: 400;
        margin: 0;
    }

    img {
        height: auto;
        width: 30px;
    }
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    
    button {
      padding: 10px 20px;
      background-color: #555;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
      
      &:hover {
        background-color: #dc2f2f;
        transform: scale(1.05);
      }
      
      &:focus {
        outline: none;
      }
    }
  }
  
  .more-links {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
    .more-btn {
      padding: 15px 30px;
      background-color: #e10600;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
      
      &:hover {
        background-color: #a30500;
        transform: scale(1.05);
      }
      
      &:focus {
        outline: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .project-container {
        margin: 60px 10px; 
    }

    .project {
        flex-direction: column;
        padding: 20px; 
    }

    .image-container img {
        height: 400px;
    }

    .project-content {
        margin: 20px 10px;
        width: 100%; 
    }

    .tech-stack {
        display: flex;
        gap: 25px;
        justify-content: center;
        align-items: center;
    }

    .more-links {
        text-align: center;
    }

    .btn-links {
        flex-direction: column; 
        align-items: center;
    }

    .btn-links button {
        margin: 5px 0;
    }
}
