$normalFont: 'Rubik', sans-serif;
$headerSize: 35px;

@mixin hoverAnimation {
    position: absolute;
    align-items: center;
    bottom: 0%;
    left: 0;
    width: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    transition: 0.3s ease;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
}

.project {
    width: 30%;
    text-align: center;
    margin-top: 5vh;

    &.frontend, &.backend {
        .project-img {
            width: 60vh;
            height: 50vh;
        }
    }

    &.travelog {
        .project-img {
            width: 30vh;
            height: auto;
        }
    }
}

.project-grid {
    border: 2px solid rgb(65, 63, 63);
    padding-bottom: 5px;

    h3 {
        text-align: center;
        font-family: $normalFont;
        font-size: 30px;
        text-decoration: underline;
    }
}

.image-container {
    position: relative;
    overflow: hidden;

    .hover {
        @include hoverAnimation();

        p {
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 20vh;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
        }
    }

    &:hover .hover {
        opacity: 1;
        cursor: pointer;
    }
}

.btn-container {
    
    button {
        margin-left: 5vh;
        border-radius: 20px;
        padding: 10px;
        font-style: bold;
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        &:hover {
            background-color: rgb(58, 57, 57);
            color: white;
            cursor: pointer;
        }
    }
}

.more-container {
    margin-top: auto;
    text-align: center;
    
    button {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 15px;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
            background-color: rgb(58, 57, 57);
            color: white;
            cursor: pointer;
        }
    }
}


@media only screen and (max-width: 600px) {
    .project-container {
        display: block;
        margin-top: 10vh;
    }

    .flex {
        display: block;
        width: 100%;
    }

    .project-grid {
        width: auto;
    }

    .project {
        width: 100%;
    }

    .more-container {
        margin-top: 3vh;
    }
}