$normalFont: 'Rubik', sans-serif;

.skills-container {
    display: flex;
    width: 100%;
    flex-direction:row;
}

.category {
    display: inline-flex;
    width: 100%;
    height: 100%;
    margin-top: 2vh;
    flex-direction: column;
    align-items: center;
    
    h1 {
        font-family: $normalFont;
        text-decoration: underline;
    }
}
.icon-grid {
    margin-top: 1vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    h4 {
        font-family: $normalFont;
    }
}

.icon-item {
    width: calc(33.33% - 10px);
    margin: 7px;
    text-align: center;

    img {
        width: 15vh;
        transition: transform 0.3s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.3);
        }
    }
}

@media only screen and (max-width: 600px) {
    .skills-container {
        display: block;
    }

    .category {
        h1 {
            font-size: 25px;
        }
    }

    .icon-grid {
        display: block;
        margin-left: 15vh;
    }
}