$normalFont: 'Rubik', sans-serif;
$smallFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

.timeline-container {
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  &:after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #000000;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  }
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  width: 50%;
  margin-bottom: 50px;
}

.timeline-item.left {
  left: 0;
}

.timeline-item.left2 {
  margin-top: -20vh;
}

.timeline-item.right {
  margin-top: -20vh;
  left: 50%;
}

.timeline-item.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.timeline-item.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.timeline-content {
  background-color: white;
  position: relative;

  img {
  width: 200px; 
  height: auto;
  border: none;
  }

  h2 {
  margin-top: 0;
  color: #333;
  font-family: $normalFont;
  }

  h3 {
  color: #777;
  font-family: $smallFont
  }

p {
  margin-top: 0px;
  font-size: 16px;
  width: 90%;
  font-family: $smallFont;
}

li {
  margin-top: 10px;
}
} 

@media only screen and (max-width: 600px) {
  .timeline-container {
    margin-top: 10vh;
  }

  .timeline-content {
    margin-right: 20px;
  }

  .timeline-item.left,
  .timeline-item.left2 {
    padding-left: 0px;

    img {
      margin-left: -2vh;
    }
  }
}

@media only screen and (min-width: 2560px) {
  .timeline-container {
    margin-top: 10vh;
  }


  .timeline-item.right,
  .timeline-item.left2 {
    margin-top: 10vh;
  }
}
